* {
    margin: 0;
    padding: 0;
    color: #c6c6c6;
}

body {
    background-color: #121c26;
}

ul {
    list-style: none;
}

header {
    padding: 32px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

h1,
h2,
h3,
.price {
    font-family: 'Alata', sans-serif;
}

img {
    width: 300px;
    height: 300px;
}

header,
section {
    max-width: 300px;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 4px;
}

section {
    margin-bottom: 24px;
}

section h2 {
    background-color: #e9e9e9;
    text-align: center;
    color: #121c26;
    padding: 8px 16px;
    margin-bottom: 24px;
}

ul li {
    margin-bottom: 16px;
    display: flex;
}

li .details {
    max-width: 230px;
}

.details h3 {
    margin-bottom: 8px;
}
