* {
    margin: 0;
    padding: 0;
    color: #023853;
}

body {
    background-color: #c6c6c6;
    min-height: 100vh;
}

body::before {
    content: '';
    background: #121C26;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
    z-index: -1;

}

#page {
    margin: 0 auto 0;
}
ul {
    list-style: none;
}

header {
    padding: 32px;
    text-align: center;
}

a:link {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
}

h1,
h2,
h3,
.price {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 300px;
    height: 300px;
}

header,
section {
    max-width: 300px;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 4px;
}

section {
    margin-bottom: 24px;
}

section h2 {
    /* 121c26 */
    background-color: #023853;
    text-align: center;
    color: #c6c6c6;
    padding: 8px 16px;
    margin-bottom: 24px;
}

ul li {
    margin-bottom: 16px;
    display: flex;
}

li {
    font-size: 14px;
    text-align: left;
}

li .details {
    max-width: 230px;
}

.details h3 {
    margin-bottom: 8px;
}
