* {
    margin: 0;
    padding: 0;
    color: #023853;
}

:root {
    font-size: 62.5%;
}

body {
    background-color: #c6c6c6;
    min-height: 100vh;
}

body::before {
    content: '';
    background: #121C26;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34rem;
    z-index: -1;

}

#page {
    margin: 0 auto 0;
}
ul {
    list-style: none;
}

header {
    padding: 3.2rem;
    text-align: center;
}

a:link {
    text-decoration: none;
}

h2 {
    text-transform: uppercase;
}

h1,
h2,
h3,
.price {
    font-family: 'Montserrat', sans-serif;
}

img {
    width: 30rem;
    height: 30rem;

    border-radius: 12px;
}

header,
#app {
    max-width: 30rem;
    margin: 0 auto;
}

header h1 {
    margin-bottom: 4px;
}

#app {
    margin-bottom: 2.4rem;
}

#app h2 {
    background-color: #023853;
    text-align: center;
    color: #c6c6c6;
    padding: 0.8rem 1.6rem;
    margin-bottom: 2.4rem;
}

li {
    font-size: 1.4rem;
    text-align: left;
}

li a {
    margin-bottom: 1.6rem;
    display: flex;
}

li .details {
    max-width: 23rem;
}

.details h3 {
    margin-bottom: 0.8rem;
}
